main{
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #34495e;
    -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.38);
    animation: slideUp 2000ms ease;
}

@keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);

    }
}

.container {
    width: 65%;
    padding: 5% 10%;
}

h1 {
    align-self: center;
    color: #e74c3c;
    padding: 20px;
}

form {
    width: 100%;
}
    input {
        width: 80%;
        min-height: 25px;
        border: 0;
        font-size: 1rem;
        margin-top: 5px;
        color: #34495e;
        padding: 10px;
        border-radius: 4px;
        margin-right: 5px;
    }

    label {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
        color: #2d82d8;
        
    }

.address-info {
    display: flex;
    justify-content: space-between;
}

.cc-info {
    display: flex;
    justify-content: space-between;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
button {
margin: 3px 0;
height: 30px;
width: 40%;
color: #e74c3c;
background-color: #2d82d856;
text-transform: uppercase;
border: 0;
font-family: 'forte';
border-radius: .3rem;
}

button:hover {
    animation-name: btnAnimation;
    animation-duration: 550ms;
    animation-fill-mode: forwards;
}
    


@keyframes btnAnimation {
    100% {
        background-color: #e74c3c;
        color: #2d82d8;
        transform: scale(1.05)
    }
}


@media (max-width: 736px) {
    .wrapper {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .btns {
        align-items: center;
    }
        button {
            width: 50%;
        }
    

    form h1 {
        text-align: center;
    }

    .name,.street,.cc-num{
        flex-direction: column;
        text-align: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .address-info,
    .cc-info
     {
        flex-direction: column;
        text-align: center;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }


    input {
        margin: 5px 0;
        min-height: 30px;
    }
}


    @media (max-width: 357px) {
h1{
    font-size: 20px;
}
button{
    font-size: 10px;
}
    }
